<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="form.css">
    <link rel="stylesheet" href="medicare.css">
    <title>About Us</title>
</head>
<body>
<div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="para">Being a pediatrician is a huge responsibility involving not just the child's but also the parent's well-being.
            A child care specialist or a pediatrician ensures that your child is healthy and disease-free.
            We understand this responsibility as much as you do, and take utmost care of your little one, pre and post birth.
            Having an exceptional bond with children, our doctor has been running a modern but child and parent friendly environment
            at the clinic, and has been catering to all medical needs of newborns, infants, children and adolescents.
        </p>

    <div class="container ml-3">
        <div class="container ml-5">
            <img class="thumbnail col-lg-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQVthiLQllvX7x9anluVrjZuYWrDbO48_Z45PiAWhInKZo_73mj" alt="">
            <img class="thumbnail col-lg-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSFS7dWckwSlKb5QOBkvx2vIDoOtVG_5ecFZ0kAXNZovhiUimNN" alt="">
            <img class="thumbnail col-lg-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTRfiRIVib0uNPbjTEFhliz0OCRuT0oCjYxx2UL3oKr5ReHR3qf" alt="">
        </div>
    </div>
    <p class="para">
            With our expert, we make sure to give your child the best care with all tenderness. The child care clinic
            is well equipped and provides for any medical aid that may be required for the child. The specialisation
            being pediatrics, we treat and care for newborns,infants,children and adolescents in sickness and health
            for their evaluation and treatment. The clinic looks after Community Pediatrics, Social Pediatrics, Adolescent
            Pediatrics, Preventive health care of children, Immunisation/ vaccination of children from 0 to 18 years.
        </p>
</div>
</body>
</html>