<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./vendor/css/bootstrap.css">
    <link rel="stylesheet" href="">

    <title>HealthCo | Appointment</title>
</head>
<body class="back">
    <div class="container p-5">
        <h1 class="text-center pb-5">Book an Appointment</h1>
        <div class="row d-flex justify-content-around">
        <form class="col-lg-6">
            <div class="container">
            <div class="form-control">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" placeholder="Name" required>
            </div>
                <hr>
            <div class="form-control">
                <label for="email">Email*:</label>
                <input id="email" type="email" name="email" placeholder="example@xyz.com" required>
            </div>
                <hr>
            <label>Phone No*:   </label>
            <input id="number" type="email" placeholder="Contact no" required>
                <hr>
            <label for="age" >Age*:</label>
            <input type="number" required>
            <hr>
            <label for="security question">Have you visited us before*: </label>
            <label>Yes: </label>
            <input type="radio" name="gender">
            <label>    No: </label>
            <input type="radio" name="gender">
            <hr>
            <label>Appointment Date:*</label>
            <input id="datetimepicker" type="date" placeholder="dd-mm-yyyy" required>
                <hr>
                <p><label for="text">Enter text here:</label></p>
            <textarea rows="5" cols="20">Please enter text here</textarea>
            <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </div>
            <hr>
        </form>
        </div>

        <hr>
    </div>
</body>
</html>